<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
            <div>
                <v-toolbar
                    flat
                    class="mb-10">
                    <v-toolbar-title
                    class="text-h3 font-weight-medium">
                        {{pageTitle}}
                    </v-toolbar-title>
                </v-toolbar>
                
            </div>
<!-- Autocomplete client -->
            <v-form
            ref="form">
            <v-row
            align="center"
            class="ml-5"
          >
          <v-col
          cols="12"
          sm="6"
          md="4"
      >
              <v-autocomplete
                v-model="client"
                :items="clientItems"
                outlined
                chips
                small-chips
                clearable
                label="Select Client"
              ></v-autocomplete>
            </v-col>
            </v-row>
            
<!-- Select trip type -->
            <v-toolbar
                    flat>
                    <v-toolbar-title
                    class="text-h5 font-weight-medium">
                        Trip Information
                    </v-toolbar-title>
                </v-toolbar>
            <v-row
            class="ml-5">
                
                <v-col
                class="d-flex"
                cols="12"
                sm="6"
                md="4"
            >
            <v-select
                v-model="trip"
                :items="tripItems"
                label="Select Trip Type"
                clearable
                outlined
            ></v-select>
            </v-row>
            

<!-- Select date -->
            <v-toolbar
                    flat>
                    <v-toolbar-title
                    class="text-h5 font-weight-medium">
                        Date and Time
                    </v-toolbar-title>
                </v-toolbar>
            <v-row
            class="ml-5">
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                  <v-menu
                    ref="dateMenu"
                    v-model="dateMenu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                  v-model="date"
                  label="Select Date"
                  prepend-inner-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                  outlined
                  ></v-text-field>
                </template>

        <v-date-picker
          v-model="date"
          width="300"
          no-title
          @input="dateMenu = false"
        ></v-date-picker>
      </v-menu>
    </v-col>
<!-- <v-spacer></v-spacer> -->
  

<!-- Select time -->
           
                <v-col
                cols="12"
                sm="6"
                md="4"
                v-if="trip != 'Hourly - Wait & Return'"
                >
                  <v-menu
                    ref="timeMenu"
                    v-model="timeMenu"
                    :close-on-content-click="false"
                    :return-value.sync="time"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="time"
                        label="Select time"
                        prepend-inner-icon="mdi-clock-time-four-outline"
                        v-bind="attrs"
                        v-on="on"
                        outlined
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="timeMenu"
                      v-model="time"
                      full-width
                      scrollable
                      @click:minute="$refs.timeMenu.save(time)"
                    ></v-time-picker>
                  </v-menu>
                </v-col>
                <v-spacer></v-spacer>
            </v-col>
            </v-row>

<!-- START TIME & END TIME -->
              
            <v-row
            class="ml-5"
            v-if="trip === 'Hourly - Wait & Return'">
            <!-- START -->
            <v-col
            cols="12"
            sm="6"
            md="4"
        >
                <v-menu
                  ref="startMenu"
                  v-model="startMenu"
                  :close-on-content-click="false"
                  :return-value.sync="start"
                  transition="scale-transition"
                  offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                          v-model="start"
                          label="Start time"
                          prepend-inner-icon="mdi-clock-time-four-outline"
                          v-bind="attrs"
                          v-on="on"
                          outlined
                        ></v-text-field>
                  </template>
                  
                  <v-time-picker
                  v-if="startMenu"
                  v-model="start"
                  :max="end"
                  scrollable
                  full-width
                  @click:minute="$refs.startMenu.save(start)"
                  ></v-time-picker>
                </v-menu>
                </v-col>
                
                

              <!-- END -->
              <v-col
                cols="12"
                sm="6"
                md="4"
            >
                <v-menu
                  ref="endMenu"
                  v-model="endMenu"
                  :close-on-content-click="false"
                  :return-value.sync="end"
                  transition="scale-transition"
                  offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        v-model="end"
                        label="End time"
                        prepend-inner-icon="mdi-clock-time-four-outline"
                        v-bind="attrs"
                        v-on="on"
                        outlined
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="endMenu"
                      v-model="end"
                      :min="start"
                      scrollable
                      full-width
                      @click:minute="$refs.endMenu.save(end)"
                    ></v-time-picker>
                </v-menu>
              </v-col>
          </v-row>
              

            <!-- Select Airport -->
            <v-toolbar
                    flat
                    v-if="trip === 'Drop off - Airport' || trip === 'Pick up - Airport'">
                    <v-toolbar-title
                    class="text-h5 font-weight-medium">
                        Select the Flight Information
                    </v-toolbar-title>
                </v-toolbar>
            <v-row
            class="ml-5"
            v-if="trip === 'Drop off - Airport' || trip === 'Pick up - Airport'">
                <v-col
                cols="12"
                sm="6"
                md="4"
            >
            <v-select
                v-model="airport"
                :items="airportItems"
                label="Airport"
                prepend-inner-icon="mdi-airport"
                outlined
            ></v-select>
                </v-col>

                <!-- Select Airline -->
                <v-col
                cols="12"
                sm="6"
                md="4"
            >
            <v-select
                v-model="airline"
                :items="airlineItems"
                label="Airline"
                prepend-inner-icon="mdi-airplane-search"
                outlined
            ></v-select>
                </v-col>
            </v-row>

            <!-- Input terminal and flight -->
            <v-row
            class="ml-5"
            v-if="trip === 'Drop off - Airport' || trip === 'Pick up - Airport'">
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-text-field
                 outlined
                 label="Flight #"
                 prepend-inner-icon="mdi-airplane"
                 v-model="flight"></v-text-field>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                md="4"
                >
                <v-text-field
                outlined
                 label="Terminal"
                 prepend-inner-icon="mdi-arrow-decision-outline"
                 v-model="terminal"></v-text-field>
                </v-col>
            </v-row>

            <!-- Provide Vehicle Information -->
            <v-toolbar
                    flat>
                    <v-toolbar-title
                    class="text-h5 font-weight-medium">
                        Vehicle Information
                    </v-toolbar-title>
                </v-toolbar>
                <v-row
                class="ml-5">
                    <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    >
                    <v-text-field
                     outlined
                     label="Make"
                     prepend-inner-icon="mdi-car-info"
                     v-model="make"></v-text-field>
                    </v-col>
                    <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    >
                    <v-text-field
                    outlined
                     label="Model"
                     prepend-inner-icon="mdi-car-key"
                     v-model="model"></v-text-field>
                    </v-col>
                </v-row>

                <!-- Provide Special Instruction  -->
            <v-toolbar
            flat>
            <v-toolbar-title
            class="text-h5 font-weight-medium">
                Additional Information
            </v-toolbar-title>
        </v-toolbar>
        <v-row
        class="ml-5">
          <v-col
        cols="12"
        sm="6"
      >
        <v-textarea
        v-model="instructions"
          label="Special Instructions"
          auto-grow
          outlined
          rows="1"
          row-height="15"
        ></v-textarea>
      </v-col>
        </v-row>
<v-row>
                    <!-- button -->
                    <v-col 
                        col="12"
                        sm="6"
                        md="8">
                        <v-btn
                        block
                        class="ma-2"
                        outlined
                        color="indigo"
                        @click="addTrip()"
                    >
                    <v-icon>mdi-plus</v-icon>
                    Add Trip
                    </v-btn>
                    </v-col>
                    
                  </v-row>
            </v-form>
            
              
        </v-container>
      </v-main>
    </v-app>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="driverbase.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data(){
          return{
              pageTitle:'New Trip',

              client:[],
              clientItems:[],
              trip: null,
              tripItems: [
                  ' ',
                  'Drop off - Airport',
                  'Pick up - Airport',
                  'Hourly - Wait & Return'
              ],  
              airport:'',
              airportItems:[
                "(JFK) John F. Kennedy",
                "(LGA) LaGuardia"
            ],
            airline:'',
            airlineItems:[
                "Delta Air",
                "American Airlines",
                "United Airlines",
                "JetBlue Airways",
                "Air Canada",
                "Alasha Airlines",
                "Air France",
                "British Airways",
                "KLM",
                "Lufhansa",
            ],

            date: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
            dateMenu: false,

            time: null,
            timeMenu: false,

            start:'',
            end:'',

            startMenu:false,
            endMenu:false,

            flight:'',
            terminal:'',

            make:'',
            model:'',
            color:'',

            instructions:'',

            driver:'',

                        
          }
      },

      methods:{
          addTrip(){
                db.collection("trips").add({
                    client: this.client,
                    // pickAddress:this.clientAddress,
                    // phone: this.clientPhone,
                    trip: this.trip,
                    airport: this.airport,
                    airline: this.airline,
                    flight: this.flight,
                    terminal: this.terminal,
                    date:this.date,
                    time: this.time,
                    start:this.start,
                    end: this.end,
                    make:this.make,
                    model:this.model,
                    instructions:this.instructions,
                    assignedTo:this.driver,
                    // color:this.color,
                    // driver: this.driver,
                })
                .then((docRef)=>{
                    console.log("Document written with ID: ", docRef.id);
                })
                .catch((error)=> {
                    console.log("Error adding document: ", error);
                });
                this.$refs.form.reset()
          }

      },
      mounted(){
            db.collection('clients')
            .onSnapshot((querySnapshot)=>{
              this.clientItems = [];
              querySnapshot.forEach((doc)=>{
                var fullName = doc.data().last +', '+ doc.data().first;
                this.clientItems.push(
                  fullName
              )
              })
            })
         }
    })
  </script>
</body>
</html>
              