<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="my-form" action="https://formspree.io/f/mgerwvjp" method="POST">
        <p>
        <label>Name: </label>
        <input type="text" name="name" />
        </p>
        <p>
        <label>Email:</label>
        <input type="email" name="email" />
        </p>
        <p>
        <label>Subject:</label>
        <input type="text" name="subject">
        </p>
        <p>
        <label>Message:</label>
        <input type="text" name="message" />
        </p>
        <button id="my-form-button">Submit</button>
        <p id="my-form-status"></p>
      </form>

    
      <script>
        var form = document.getElementById("my-form");
        
        async function handleSubmit(event) {
          event.preventDefault();
          var status = document.getElementById("my-form-status");
          var data = new FormData(event.target);
          fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
          }).then(response => {
              //Check for errors on form
              if (!response.ok){
                  throw new Error('response not ok');
              }
            status.innerHTML = "Thanks for your submission!";
            form.reset()
          }).catch(error => {
            status.innerHTML = "Oops! There was a problem submitting your form"
          });
        }
        form.addEventListener("submit", handleSubmit)
    </script>
</body>
</html>