<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <!-- GOOGLE FONTS //  font-family: 'Luckiest Guy', cursive; -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <!-- VUETIFY -->
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <!-- FIREBASE -->
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<style>
   
</style>


</head>
<body>
  <div id="app">
    <v-app id="inspire">
        <!-- LEFT DRAWER -->
      <v-navigation-drawer
                  v-model="drawer"
                  app
                >
                 <v-sheet
                  color="primary"
                  class="pa-4"
                >
                  <v-avatar
                    class="mb-4"
                    color="grey darken-1"
                    size="85"
                  >
                  <v-img
              height="100%"
              :src=currentAvatar
            >
                </v-avatar>
          
                  <div>{{ currentUser }}</div>
                </v-sheet>
          
                <v-divider></v-divider>
          <!-- MENU FOR LEFT SIDE DRAWER -->
                <v-list>
                  <v-list-item
                    v-for="[icon, text, href] in links"
                    :key="icon"
                    :href="href"
                    link
                 >
                 <a href="href"> </a>
                    <v-list-item-icon class="mr-2">
                      <v-icon color="primary">{{ icon }}</v-icon>
                    </v-list-item-icon>
          
                    <v-list-item-content>
                      <v-list-item-title>{{ text }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-navigation-drawer>
              <!-- TOP BAR WITH PAGE DESCRIPTION -->
             <v-app-bar app height="72" clipped-right>
                  <v-app-bar-nav-icon @click="drawer = !drawer" color="primary"></v-app-bar-nav-icon>
            
                  <v-toolbar-title>Messages</v-toolbar-title>
                </v-app-bar>

            
               
<v-main>

             <v-container>  
            <!-- COLLECTS ALL MESSAGE IN MESSAGE COLLECTION -->
            <v-row justify="center">
                <v-col>
                   <v-list two-line>
                      <template v-for="item in messages">
                        <v-subheader
                          v-if="item.header"
                          :key="item.header"
                          inset
                        >
                          {{
                            item.header
                          }}
                        </v-subheader>
            
                        <v-divider
                          v-else-if="item.divider"
                          :key="index"
                          inset
                        ></v-divider>
                        
                        <v-list-item
                          v-else
                          :key="item.title"
                          ripple
                        >
                          <v-list-item-avatar size="75">
                            <img :src="item.avatar" size="100%">
                          </v-list-item-avatar>
                          <v-list-item-content>
                            <v-list-item-title class="font-weight-bold"> {{item.from}} 
                              <span class="grey--text text--lighten"> &mdash;  {{item.sent_time}} </span>
                            </v-list-item-title>
                            
                            <v-list-item-subtitle
                            >  {{item.content}} </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      
                        <v-divider
                        v-model="item.divider"
                        inset
                        ></v-divider>

                      </template>
                    </v-list>
                  
                </v-col>
              </v-row>
         </v-container>
           
      </v-main>
     
      
    </v-app>
  </div>


  <script src="firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data(){
          return{
              drawer:null,
              isLoggedIn:false,
              currentUser:null,
              currentAvatar:'',
              messages:[],
              links: [
              ['mdi-android-messages', 'Home', 'feed.html'],
                ['mdi-contacts-outline', 'Messages', 'messages.html'],
                ['mdi-inbox-arrow-down', 'DM', 'dm.html'],
                ['mdi-account-circle', 'Profile', 'profile.html'],
                ],
            message:{
                to:'',
                from:'',
                avatar:'',
                content:'',
                sent: firebase.firestore.FieldValue.serverTimestamp()
              },
              messages:[],
              rules: {
                counter: value=> value.length <=225 || 'Max 225 characters',
          },
                  
          }
     },
      created(){
        firebase.auth().onAuthStateChanged((user) => {
            if (user) {
                this.isLoggedIn = true;
                // this.currentUser = user.uid;
              console.log('Feed infor: ', user.uid);
              var docRef = db.collection("users").doc(user.uid);
              docRef.get()
              .then((doc) =>{
                  this.currentUser = doc.data().username;
                  this.currentAvatar = doc.data().avatar;
              })
              
              db.collection("messages")       
              .onSnapshot((querySnapshot)=>{
                  this.messages = [];
                  console.log(messages)
                  querySnapshot.forEach((doc)=>{
                    if (doc.data().to == this.currentUser) {
                      this.messages.push({
                        currentUser:doc.data().to,
                          from:doc.data().from,
                          avatar:doc.data().avatar,
                          content:doc.data().content,
                          sent:doc.data().sent,
                          sent_date:doc.data().sent.toDate().toLocaleDateString(),
                          sent_time:doc.data().sent.toDate().toLocaleTimeString(),
                          id:doc.id,
                      })
                    }
                      console.log('To: ',doc.data().to )
                      console.log('From: ',doc.data().from)
                      console.log('Message: ',doc.data().content)
                      console.log("Time: ",doc.data().sent)
                      console.log('All: ',doc.data())
                      console.log(this.currentUser == doc.data().to )
                   })
              })
            
            // ...
            } else {
            // User is signed out
            // ...
            }
        });
      },
      methods: {},
      mounted(){},
            
    })
  </script>
</body>
</html>